body {
    background-color: black;
}

#splash {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.splash-container {
    display: flex;
    align-items: center;
    margin: auto;
    height: 100px;
    width: 200px;
    color: white;
    font-size: 36px;
}
#start-container {
    border: 1px solid white;
    display:none;
}

#start-button {
    color: white;
    margin: auto;
}
